*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
#body{
  background-color: #000000;
}
.active{
background-color: #322e2e;
border-radius: 2rem;
}
@media screen and (max-width: 576px) {
  .mobileHome{
    display: block;
  }
 .desktop{
    display: none;
  }
}
@media screen and (min-width: 576px) {
  .mobileHome{
    display: none;
  }
  .desktop{
    display: block;
  }
}
nav{
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 1px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
}
.mobileHome .navbarMobile {
  display: flex;
  justify-content: space-between;
}
.mobileHome .navbarMobile .messages{
  cursor: pointer;
}
.mobileHome .navbarMobile i {
  color: #fff;
  font-size: 24px;
}
.mobileHome .navbarMobile{
  margin: 12px 18px;
}
.mobileHome .navbarMobile .messageCount{
    color: #fff;
    background-color: red;
    border-radius: 15px;
    padding: 0px 5px;
    position: absolute;
    right: 22px;
    top: 6px;
    font-size: 10px;
}
.nav-item{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 12px 16px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0);
}

.nav-item span{
  width: 0;
  overflow: hidden;
}

.nav-item:focus{
  text-decoration: none;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  transition: .2s;
}

.nav-item:focus span{
  width: 100%;
  margin-left: 8px;
  transition: .2s;
}

*:focus{
  outline: none;
  border: none;
} 
.navs{
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 100;
}
.navIcons{
  font-size: 18px;
  margin-right: 15px;
  margin-left: 12px;
  font-weight: bolder;
}
.navItems:last-child{
position: absolute;
bottom: 30px;
width: 80%;
}
.navItems{
  cursor: pointer;
  margin-top: 13px;
}
.navItems:hover,
.navItems:active{
  background-color: #121212;
  border-radius: 2rem;
  
}
.sidebar {
border-right: 1px solid #383838;
position: fixed;
left: 0;
top: 0;
bottom: 0;
width: 250px;
height: 100%;
background-color: #000000;
}
.sidebar .navigation ul {
list-style: none;
margin-top: 20px;
margin-left: -30px;
}
.sidebar .navigation ul li {
padding: 10px 0px;
  color: #b3b3b3;
text-decoration: none;
font-weight: bold;
font-size: 13px;
}
.sidebar .navigation ul li a {
color: #b3b3b3;
text-decoration: none;
font-weight: bold;
font-size: 13px;
}
.sidebar .navigation ul li a:hover,
.sidebar .navigation ul li a:active,
.sidebar .navigation ul li a:focus {
color: #ffffff;
}
.sidebar .navigation ul li a:hover .fa,
.sidebar .navigation ul li a:active .fa,
.sidebar .navigation ul li a:focus .fa {
color: #b3b3b3;
}
.sidebar .navigation ul li .fa {
font-size: 20px;
margin-right: 10px;
}
.sidebar .navigation ul li a:hover .fa:hover,
.sidebar .navigation ul li a:hover .fa:active,
.sidebar .navigation ul li a:hover .fa:focus {
color: #ffffff;
}
.sidebar .policies {
margin-left: -30px;
position: absolute;
bottom: 100px;
}
.main-container {
  margin-left: 255px;
  margin-bottom: 100px;
  }
  .main-container-reels{
    margin-left: 255px;
    margin-bottom: 100px;
  }
.sidebar .policies ul {
list-style: none;
}
.sidebar .policies ul li {
padding-bottom: 5px;
margin-top: 30px;
}

.sidebar .policies ul li a {
color: #b3b3b3;
font-weight: 500;
text-decoration: none;
font-size: 10px;
}     
.settingsTab{
  background-color: #262626;
  border: 1px solid #262626;
  border-radius: 1rem;
  position: absolute;
  bottom: 85px;
  width: 80%;
}
.settingsTab li{
  margin-left: 20px;
}
.settingsTab li:last-child{
  margin-bottom: 20px;
}
.post{
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.postOwnerName{
  cursor: pointer;
  margin-left: 10px ;
}
.card{
  width: 30rem ;
  border:1px solid #fff
}
.navForPost{
  display: flex;
  align-items: center;
  margin: 8px;
  border-bottom: 1px solid #383838;
}
.navForSug{
  display: flex;
  align-items: center;
  margin: 8px;
  justify-content: space-between;
  margin-right: 40px;
}
.navForSug img{
  width: 40px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
}
.navForPostComment{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px;
  font-weight: 100;
}
.navForPostComment img{
  width: 40px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
}
.navForPost img{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
}
.settingsForPost{
  position: absolute;
  cursor: pointer;
  right: 15px;
}
.mobileHome .nav-item img{
  width: 30px;
  border-radius: 15px;
  padding: 2px;
  border: 2px solid #fff;
}
.actions{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.actions .left i{
  cursor: pointer;
  font-size: 25px;
  margin-right: 7px;
}
.actions .right i{
  cursor: pointer;
  font-size: 25px;
}
.activeForLike{
  color: red;
}
.post input:active{
  outline: none;
}
.addComment{
  display: flex;
  align-items: center;
}
.addComment button{
  position: absolute;
  right: 10px;
  cursor: pointer;
  padding: 8px 10px;
}
.comments{
  height: 45vh;
  overflow-y: scroll;
}
.comments::-webkit-scrollbar{
  display: none;
}
.modalArea{
  height: 80vh;
  background-color: #000000 !important;
  border: 1px solid #322e2e !important;
}
.modalArea .leftPostSide img{
position: absolute;
left: 25%;
top: 50%;
transform: translate(-50%,-50%);
width: 45%;
}
.modalArea .leftPostSide video{
position: absolute;
  width: 49%;
  left: 25%;
  transform: translate(-50%, -50%);
  top: 50%;
  height: 80vh;
}
.actionsAndAddComments{
border-top: 1px solid #383838;
position: absolute;
  bottom: 7px;
  width: 47%;
}
.reels-content{
  width: 75%;
  margin: auto;
}
.reels-content img{
  cursor: pointer;
  width: 318px;
  height: 318px;
}
.forReelsImage{
  position: relative;
}
.katman {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5); 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  color: white;
  font-size: 24px;
  line-height: 150%;
  opacity: 0; 
  transition: opacity 0.5s ease; 
}
.katman span{
  font-size: 15px;
}
.katman i{
  margin-right: 2px;
}
.reels-content .katman:hover{
  cursor:  pointer;
  opacity: 1;
}
.myProfile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-right: 40px;
}
.myProfile .left{
  display: flex;
  align-items: center;
  color: #fff;
}
.myProfile .left img{
  width: 50px;
  border-radius: 2rem;
}
.myProfile .left .detail a{
  color: #fff;
}
.myProfile .left .detail{
  margin-left: 10px;
}
.sug{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
}
.suggestions a{
  text-decoration: none;
}
.postReel{
  overflow: hidden;
  height: 20vh;
  object-fit: cover;
}